<%- include('../layouts/admin/adminHeaders.ejs') %>
    <body data-layout="horizontal" data-topbar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
        
            <!-- header -->
           
            <%- include('../layouts/admin/pageTopbar.ejs') %>

            <!-- ========== Left Sidebar Start ========== -->
            
            <%- include('../layouts/admin/verticalMenu.ejs') %>

            <!-- Left Sidebar End -->
           
            <%- include('../layouts/admin/leftsidebarEnd.ejs') %>
    
            
    


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                   

                                    <div class="page-title-right">
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12 ">
                                <div class="card ">
                                    <div class="card-body ">
                                        <div class="row mb-2 ">
                                            <div class=" text-center">
                                                <h3 >Add category</h3>
                                            </div>
                                            
                                            <form action="addcategory" method="post">
                                                <div>
                                                    <div class="row pt-4">
                                                        <div class="col-lg-4">
                                                            <div class="mb-3 mb-4">
                                                                <label class="form-label" for="billing-name"> Name</label>
                                                                <input type="text" class="form-control" name="name" id="billing-name" placeholder="Enter name">
                                                            </div>
                                                        </div>
                                                        
                                                       
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="form-label" for="billing-address">Dscription</label>
                                                        <textarea class="form-control" id="billing-address" name="description" rows="3" placeholder="Enter a Description"></textarea>
                                                    </div>
                                                    <div style="padding-left: 900px;">
                                                         <p class="text-danger"><%=msg  %></p>
                                                        <button class="btn btn-success"  style="padding-left: 20px; padding-right: 20px; " type="submit">Save</button>
                                                          
                                                       </div>

                                                      
                                                </div>
                                            </form><!-- end col-->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Symox.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://themesbrand.com/" target="_blank" class="text-reset">Themesbrand</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <a href="#" class="right-bar-toggle layout-setting-btn" id="right-bar-toggle">
            <i class="icon-sm mb-2" data-feather="settings"></i> <span class="align-middle">Settings</span>
        </a>

       
        <!-- /Right-bar -->

        <%- include('../layouts/admin/rightBar.ejs') %>  

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>

        <!-- apexcharts -->
        <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
        <!-- Chart JS -->
        <script src="assets/js/pages/chartjs.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>

        <script src="assets/js/app.js"></script>

    </body>

<!-- Mirrored from themesdesign.in/symox-laravel/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Feb 2024 16:06:55 GMT -->
</html>
