<%- include('../layouts/admin/adminHeaders.ejs') %>
    <body data-layout="horizontal" data-topbar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
        
            <!-- header -->
           
            <%- include('../layouts/admin/pageTopbar.ejs') %>

            <!-- ========== Left Sidebar Start ========== -->
            
            <%- include('../layouts/admin/verticalMenu.ejs') %>

            <!-- Left Sidebar End -->
           
            <%- include('../layouts/admin/leftsidebarEnd.ejs') %>
    


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Products</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Products</li>
                                        </ol>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div id="tablepart" class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2 align-items-center">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="search-box me-2 mb-2 d-inline-block w-100">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" placeholder="Search..." style="width: 100%;">
                                                        <i class="bx bx-search-alt search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-8 text-sm-end">
                                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2">
                                                    <i class="mdi mdi-plus me-1"></i>
                                                    <a style="color: aliceblue;" href="/admin/addproduct">Add Products</a>
                                                </button>
                                            </div>
                                        </div>
                                        
                                        

                                        <div class="table-responsive">
                                          <table class="table align-middle table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Offer (%)</th>
                                                    <th>Description</th>
                                                    <th>Price</th>
                                                    <th>Category</th>
                                                    <th>Image</th>
                                                    <th>Stock</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% productList.forEach((product, i) => { %>
                                                    <tr>
                                                        <td><%= i + 1 %></td>
                                                        <td class="max-width-100"><%= product.name %></td>
                                                        <td>
                                                            <% if (product.offer) { %>
                                                                <span style="font-size: smaller;"><%= product.offer.percentage %> %</span>
                                                            <% } else { %>
                                                                <span style="font-size: smaller;">N/A</span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <p class="description"><%= product.description %></p>
                                                        </td>
                                                        <td>
                                                            <% if (product.offer) { %>
                                                                <div style="display: flex; flex-direction: column;">
                                                                    <span style="text-decoration: line-through;">₹<%= Math.round(product.price) %></span>
                                                                    <span>₹<%= Math.round(product.price - (product.price * product.offer.percentage / 100)) %></span>
                                                                </div>
                                                            <% } else { %>
                                                                <span>₹<%= Math.round(product.price) %></span>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (product.category) { %>
                                                                <%= product.category.name %>
                                                            <% } %>
                                                        </td>
                                                        <td><img src="<%= product.image[0] %>" alt="Product Image"></td>
                                                        <td><%= product.stock %></td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li>
                                                                        <a href="/admin/editproduct/<%= product._id %>" class="dropdown-item">
                                                                            <i class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <% if (product.isBlocked == false) { %>
                                                                            <button class="dropdown-item btn btn-danger" onclick="blockProduct('<%= product._id %>', this)">Block</button>
                                                                        <% } else { %>
                                                                            <button class="dropdown-item btn btn-success" onclick="blockProduct('<%= product._id %>', this)">Unblock</button>
                                                                        <% } %>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                        
                                        
                                        
                                            <style>
                                                table {
                                                  width: 100%;
                                                  border-collapse: collapse;
                                                }
                                                th, td {
                                                  padding: 8px 16px; /* Adjusted padding for a cleaner look */
                                                }
                                                th {
                                                  background-color: #f2f2f2;
                                                  text-align: left;
                                                }
                                                td img {
                                                  width: 100px; /* Adjust the width as needed */
                                                  height: 100px; /* Adjust the height as needed */
                                                  object-fit: cover;
                                                }
                                                .description {
                                                  max-width: 300px; /* Adjust the width as needed */
                                                  overflow: hidden;
                                                  text-overflow: ellipsis;
                                                  white-space: nowrap;
                                                }
                                                .max-width-100 {
                                                  max-width: 150px; /* Adjusted to give more space for name */
                                                  overflow: hidden;
                                                  text-overflow: ellipsis;
                                                  white-space: nowrap;
                                                }
                                                .dropdown-menu-end {
                                                  right: 0;
                                                  left: auto;
                                                }
                                              </style>
                                            
                                            
                                        </div>
                                      <%- include('../layouts/admin/adminPagination.ejs') %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Symox.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://themesbrand.com/" target="_blank" class="text-reset">Themesbrand</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <a href="#" class="right-bar-toggle layout-setting-btn" id="right-bar-toggle">
            <i class="icon-sm mb-2" data-feather="settings"></i> <span class="align-middle">Settings</span>
        </a>

       
        <!-- /Right-bar -->

        <%- include('../layouts/admin/rightBar.ejs') %>  

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- CSS -->
        <style>
            .description {
                white-space: pre-line;
                word-wrap: break-word;
                word-break: break-all;
            }
        </style>
        <!-- JAVASCRIPT -->
        <script>
            $(document).ready(function () {
  $('.dropdown-menu a, .dropdown-menu button').on('click', function () {
    $(this).closest('.dropdown-menu').prev().dropdown('toggle');
  });

  $(document).on('click', function (e) {
    if (!$(e.target).closest('.dropdown').length) {
      $('.dropdown-menu').removeClass('show');
    }
  });
});

        </script>

        <script>
            function blockProduct(productId,e){ 
                console.log(productId,e.innerHTML);
                if( e.innerHTML=='Block'){
                 console.log('blocked');
                 e.innerHTML='Unblock'
                }else{
                    e.innerHTML='Block'
                }
              fetch('/admin/blockproduct',{
                method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({productId:productId})
              }).then((res)=>{
                $('#tablepart').load('/admin/product #tablepart')
              })
            }
           </script> 
       
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>

        <!-- apexcharts -->
        <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
        <!-- Chart JS -->
        <script src="assets/js/pages/chartjs.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>

        <script src="assets/js/app.js"></script>

       
    </body>

<!-- Mirrored from themesdesign.in/symox-laravel/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Feb 2024 16:06:55 GMT -->
</html>
