<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DripLuxe</title>
    <link rel="shortcut icon" href="/admin/assets/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="/admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-layout="horizontal">
    <div id="layout-wrapper">
        <div class="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="invoice-title">
                                        <h4 class="float-end font-size-15">Invoice #<%= orderr._id %> <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                                        <div class="mb-4">
                                            <img src="/user/assets/images/logo/logo-no-background.png" alt="logo" height="22"/>
                                        </div>
                                        <div class="text-muted">
                                            <p class="mb-1">3184 Spruce Drive Pittsburgh, PA 15201</p>
                                            <p class="mb-1"><i class="mdi mdi-email-outline me-1"></i> xyz@987.com</p>
                                            <p><i class="mdi mdi-phone-outline me-1"></i> 012-345-6789</p>
                                        </div>
                                    </div>
        
                                    <hr class="my-4">
        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="text-muted">
                                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                                <h5 class="font-size-15 mb-2"><%= orderr.deliveryAddress.name %></h5>
                                                <p class="mb-1"><%= orderr.deliveryAddress.streetAddress %>, <%= orderr.deliveryAddress.locality %>, <%= orderr.deliveryAddress.pincode %></p>
                                                <p class="mb-1"><%= orderr.deliveryAddress.city %>, <%= orderr.deliveryAddress.state %></p>
                                                <p><%= orderr.deliveryAddress.mobile %></p>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-sm-6">
                                            <div class="text-muted text-sm-end">
                                                <div>
                                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                                    <p>#<%= orderr._id %></p>
                                                </div>
                                                <!-- <div class="mt-4">
                                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                                    <p>12 Oct, 2020</p>
                                                </div> -->
                                                <!-- <div class="mt-4">
                                                    <h5 class="font-size-15 mb-1">Order No:</h5>
                                                    <p>#1123456</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                    
                                    <div class="py-2">
                                        <h5 class="font-size-15">Order Summary</h5>
        
                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap table-centered mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 70px;">No.</th>
                                                        <th>Item</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th class="text-end" style="width: 120px;">Total</th>
                                                    </tr>
                                                </thead><!-- end thead -->
                                                <tbody>
                                                    <% products.forEach(prod =>{ %>
                                                    <tr>
                                                        <th scope="row">01</th>
                                                        <td>
                                                            <div>
                                                                <h5 class="text-truncate font-size-14 mb-1"><%= prod.productId.name %></h5>
                                                                <!-- <p class="text-muted mb-0"></p> -->
                                                            </div>
                                                        </td>
                                                        <td>₹<%= prod.totalPrice.toFixed(2) %></td>
                                                        <td><%= prod.quantity %></td>
                                                        <td class="text-end">₹<%= prod.totalPrice.toFixed(2) %></td>
                                                    </tr>
                                                    <% }) %>
                                                    <tr class="mt-2">
                                                        <th scope="row"  colspan="4" class="border-0 text-end"><h4 class="m-0 fw-semibold">Total :</h4></th>
                                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">₹<%= orderr.orderAmount.toFixed(2) %></h4></td>
                                                    </tr>
                                                    
                                                </tbody><!-- end tbody -->
                                            </table><!-- end table -->
                                        </div><!-- end table responsive -->
                                        <div class="d-print-none mt-4">
                                            <div class="float-end">
                                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
        </div>
        </div>

</body>

</html>