<%- include('../layouts/user/userHeader.ejs') %>
<body>
  <div class="m ain-wrapper">
    <header class="header-area section-padding-1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2">
            <div class="logo logo-width">
              <a href="index.html">
                <img src="user/assets/images/logo/logo.png" alt="logo" />
              </a>
            </div>
          </div>
          <div
            class="col-xl-8 col-lg-8 d-flex justify-content-center position-static"
          >
            <div class="main-menu menu-lh-1 main-menu-padding-1">
              <nav>
                <ul>
                  <li class="position-static">
                    <a href="/">Home </a>
                    <div class="mega-menu-style-1"></div>
                  </li>
                  <li>
                    <a href="#">Pages </a>
                    <ul class="sub-menu-width">
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="contact-us.html">Contact Page</a></li>
                      <li><a href="404.html">404 Page</a></li>
                      <li><a href="comming-soon.html">Comming Soon 01</a></li>
                      <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                      <li><a href="faq.html">FAQ</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/shop">Shop </a>
                  </li>
                  <li>
                    <a href="shop-collection-1.html"
                      >Collections 
                    </a>
                    <ul class="sub-menu-width">
                      <li>
                        <a href="shop-collection-1.html">Shop Collection 01</a>
                      </li>
                      <li>
                        <a href="shop-collection-2.html">Shop Collection 02</a>
                      </li>
                      <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="blog.html"
                      >Blog </a>
                   
                  </li>
                  <li><a href="shop-instagram.html">Instagram Shop </a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2">
            <div class="header-right-wrap header-right-flex">
              <div class="same-style header-wishlist">
                <a href="/wishlist"><i class="far fa-heart"></i></a>
              </div>
              <div class="same-style cart-wrap">
                <a href="#" class="cart-active">
                  <i class="dlicon shopping_bag-20"></i>
                  <span class="count-style">02</span>
                </a>
              </div>
              <div class="same-style header-search">
                <a class="search-active" href="#">
                  <i class="dlicon ui-1_zoom"></i>
                </a>
              </div>
              <div class="same-style header-off-canvas">
                <a href="<%= locals.user? '/myaccount' : '/login' %> ">
                  <!-- <i class="far fa-user-plus" style="font-size: 20px; color: black;" onmouseover="this.style.color='red'" onmouseout="this.style.color='black'"></i> -->
                  <i
                    class="far fa-user"
                    style="font-size: 20px; color: black"
                    onmouseover="this.style.color='red'"
                    onmouseout="this.style.color='black'"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-small-mobile section-padding-1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="mobile-logo logo-width">
              <a href="index.html">
                <img alt="" src="user/assets/images/logo/logo.png" />
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="mobile-header-right-wrap">
              <div class="header-right-wrap header-right-flex">
                <div class="same-style cart-wrap">
                  <a href="#" class="cart-active">
                    <i class="dlicon shopping_bag-20"></i>
                    <span class="count-style">02</span>
                  </a>
                </div>
                <div class="same-style header-off-canvas">
                  <a class="header-aside-button" href="#">
                    <i class="dlicon ui-3_menu-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- search start -->
    <div class="search-content-wrap main-search-active">
      <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
      <div class="search-content">
        <p>Start typing and press Enter to search</p>
        <form class="search-form" action="#">
          <input type="text" placeholder="Search" />
          <button class="button-search">
            <i class="dlicon ui-1_zoom"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- mini cart start -->
    <div class="sidebar-cart-active">
      <div class="sidebar-cart-all">
        <a class="cart-close" href="#"
          ><i class="dlicon ui-1_simple-remove"></i
        ></a>
        <div class="cart-content">
          <h3>Shopping Cart</h3>
          <ul>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"
                  ><img src="user/assets/images/cart/cart-1.jpg" alt=""
                /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#">Bejewelled velvet sandals</a></h4>
                <span> 1 × $49.00 </span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"
                  ><img src="user/assets/images/cart/cart-2.jpg" alt=""
                /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#">Contrast faux fur jacket</a></h4>
                <span> 1 × $49.00 </span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
          </ul>
          <div class="cart-total">
            <h4>Subtotal: <span>$170.00</span></h4>
          </div>
          <div class="cart-checkout-btn">
            <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
            <a class="no-mrg btn-hover cart-btn-style" href="/checkout"
               >checkout</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- aside start -->
    <div class="header-aside-active">
      <div class="header-aside-wrap">
        <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="header-aside-content">
          <div class="mobile-menu-area">
            <div class="mobile-search">
              <form class="search-form" action="#">
                <input type="text" placeholder="Search entire store…" />
                <button class="button-search">
                  <i class="dlicon ui-1_zoom"></i>
                </button>
              </form>
            </div>
            <div class="mobile-menu-wrap">
              <!-- mobile menu start -->
              <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav>
                  <ul class="mobile-menu">
                    <li class="menu-item-has-children">
                      <a href="/">Home</a>
                      
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#">Pages</a>
                   
                    </li>
                    <li class="menu-item-has-children">
                      <a href="/shop">shop</a>
                     
                    </li>
                    <li class="menu-item-has-children">
                      <a href="shop-collection-1.html">Collection</a>
                      
                    </li>
                    <li class="menu-item-has-children">
                      <a href="blog.html">Blog</a>
                     
                    </li>
                    <li><a href="shop-instagram.html">Instagram Shop </a></li>
                  </ul>
                </nav>
                <!-- mobile menu navigation end -->
              </div>
              <!-- mobile menu end -->
            </div>
            <div class="mobile-curr-lang-wrap">
             
             
              <div class="single-mobile-curr-lang">
                <a class="mobile-account-active" href="#"
                  >My Account <i class="fa fa-angle-down"></i
                ></a>
                <div class="lang-curr-dropdown account-dropdown-active">
                  <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Creat Account</a></li>
                    <li><a href="<%= locals.user? '/myaccount' : '/login' %>">My Account</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <img src="user/assets/images/icon-img/payments.png" alt="payment" />
          <p>
            Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi
            aliquet, sit amet fermentum justo dapibus.
          </p>
          <div class="aside-contact-info">
            <ul>
              <li>
                <i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 -
                19:00
              </li>
              <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
              <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
              <li>
                <i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam
                Trinh Hoang - Ha Noi - Viet Nam
              </li>
            </ul>
          </div>
          <div class="social-icon-style mb-25">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="google-plus" href="#"
              ><i class="fa fa-google-plus"></i
            ></a>
            <a class="behance" href="#"><i class="fa fa-behance"></i></a>
          </div>
          <div class="copyright">
            <p>
              © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights
              reserved
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
      <div class="container-fluid">
        <div class="breadcrumb-content text-center">
          <div class="breadcrumb-title">
            <h2>My Account</h2>
          </div>
          <ul>
            <li>
              <a href="index.html">Home 01 </a>
            </li>
            <li><span> &gt; </span></li>
            <li class="active">My Account</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="my-account-area pt-100 pb-95">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-12">
            <div class="myaccount-tab-menu nav" role="tablist">
              <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard</a>
              <a href="#orders" data-bs-toggle="tab">Orders</a>
              <a href="#download" data-bs-toggle="tab">Download</a>
              <a href="#address-edit" data-bs-toggle="tab">Address</a>
              <a href="#wallet" data-bs-toggle="tab">Wallet</a> <!-- New Wallet Tab -->
              <a href="#account-info" data-bs-toggle="tab">Account Details</a>
              <a onclick="logout()">Logout</a>
            </div>
            
            <!-- My Account Tab Menu End -->
            <!-- My Account Tab Content Start -->
            <div class="tab-content" id="myaccountContent">
              <!-- Single Tab Content Start -->
              <div
                class="tab-pane fade show active"
                id="dashboad"
                role="tabpanel"
              >
                <div class="myaccount-content">
                  <div style="text-align: center;" class="welcome">
                    <p>
                      Hello, <strong><%= locals.userData.name %></strong></p>
                    <p><strong><%= locals.userData.email  %></strong></p>
                    <p><strong><%= locals.userData.mobile  %></strong></p>
                     
                     
                     
   
                    <div>

                        <strong class="btn" style="background-color: brown; "> 
                            <a  onclick="logout()" class="logout text-white"> Logout</a>
                            
                            </strong>
                            
                            <a
                            data-bs-toggle="modal"
                            data-bs-target="#edit"
                            data-id="<%=user._id %>"
                            data-email="<%=user.email  %>"
                            data-mobile="<%=user.mobile  %>"
                           
                            onclick="edit('<%=locals.user._id %>','<%=locals.user.name %>','<%=locals.user.email %>','<%=locals.user.mobile %>')"
                            class="btn btn-success"
                            >Edit</a>

                          </div>
                          
                  </div>

                  <p class="mb-0">
                    From your account dashboard. you can view your recent
                    orders, manage your shipping and billing addresses and edit
                    your password and account details.
                  </p>
                </div>
              </div>
              <!-- Single Tab Content End -->
              <!-- Single Tab Content Start -->
              <div class="tab-pane fade" id="orders" role="tabpanel">
                <div class="myaccount-content">
                    <div class="row">
                        <% locals.orders.forEach((order, index) => { %>
                            <div class="col-md-6">
                                <div class="order-item">
                                    <h5 class="order-id">Order <%= index + 1 %></h5>
                                    <p class="order-date"><%= order.orderDate.toString().split(" ").splice(0, 4).join(' ') %></p>
                                    <div class="order-details">
                                        <p>Total Items: <%= order.products.length %></p>
                                        <p>Total Amount: ₹ <%= order.orderAmount %></p>
                                    </div>
                                    <div class="order-products">
                                        <% order.products.forEach((product, i) => { %>
                                            <div class="product-item">
                                                <img src="<%= product.productId.image[0] %>" alt="<%= product.productId.name %>">
                                                <p class="product-name"><%= product.productId.name %></p>
                                            </div>
                                        <% }); %>
                                    </div>
                                    <div class="order-footer">
                                        <a href="/orderDetails/<%= order._id %>" class="btn btn-dark">View Details</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                        <% if (locals.orders.length === 0) { %>
                            <div class="col-12">
                                <div class="no-orders">
                                    <p>No Orders</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
          
              <!-- Single Tab Content End -->
              <!-- Single Tab Content Start -->
              <div class="tab-pane fade" id="download" role="tabpanel">
                <div class="myaccount-content">
                  <div class="myaccount-table table-responsive text-center">
                    <table class="table table-bordered">
                      <thead class="thead-light">
                        <tr>
                          <th>Product</th>
                          <th>Date</th>
                          <th>Expire</th>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Haven - Free Real Estate PSD Template</td>
                          <td>Aug 22, 2023</td>
                          <td>Yes</td>
                          <td>
                            <a href="#" class="check-btn sqr-btn"
                              ><i class="fa fa-cloud-download"></i> Download
                              File</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>HasTech - Profolio Business Template</td>
                          <td>Sep 12, 2023</td>
                          <td>Never</td>
                          <td>
                            <a href="#" class="check-btn sqr-btn"
                              ><i class="fa fa-cloud-download"></i> Download
                              File</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Single Tab Content End -->
              <!-- Single Tab Content Start -->
              <div class="tab-pane fade" id="address-edit" role="tabpanel">
                <div class="myaccount-content" id="reloadaddress">
                    <div class="addressessDiv">
                        <span class="addressess">Saved Addresses</span>
                        <button type="button" class="check-btn sqr-btn addAdress" data-bs-toggle="modal" data-bs-target="#addAddress"><i class="fa fa-add"></i> + Add Address</button>
                    </div>
                    <address>
                        <% if(locals.addresses?.length >= 1) { %>
                            <% locals.addresses.forEach(address => { %>
                                <div class="EachaddressDiv p-3 mb-3">
                                    <h5 class="fw-bold"><%= address.name %></h5>
                                    <p>
                                        <%= address.streetAddress %>, <%= address.locality %><br>
                                    <%= address.city %>, <%= address.state %> - <%= address.pincode %><br>
                                    Mobile : <span class="fw-bold "><%= address.mobile %></span><br></p>
                                        <div class="">
                                            <button class="check-btn sqr-btn editAdress" data-bs-toggle="modal" data-bs-target="#editAddressModal" onclick="editAddress('<%= address._id %>')"><i class="fa fa-edit"></i> Edit Address</button>
                                            <button class="check-btn sqr-btn editAdress" onclick="removeAddress('<%= address._id %>')"><i class="fa fa-remove"></i> Remove Address</button>
                                 
                                        </div>
                                    </div>
                                  
                            <% }); %>
                        <% }else{ %>
                            <div>
                                <p class="text-center text-danger ">No addresses found</p>
                            </div>
                        <% } %>
                    </address>
                    <br>
                </div>
            </div>


             <!-- Wallet Tab Content -->
            
         
             <div id="wallet" class="tab-pane fade">
              <div class="wallet-container">
                <div class="wallet-header">
                  <h3>Wallet</h3>
                  <div class="wallet-balance">
                    Balance: 
                    <% if(locals.walletData && locals.walletData.balance){ %>
                        ₹ <%= locals.walletData.balance %>
                    <% } else { %>
                        ₹ 0.00
                    <% } %>
                    <span id="wallet-balance"></span>
                </div>
                
                
                </div>
                <form action="/addWallet" method="post" id="myyform" >
                  <div class="wallet-add-amount">
                    <input class="amount"  type="number" id="amount" name="walletAdd" placeholder="Enter amount">
                    <button onclick="razor()" type="button">Add</button>
                  </div>
                </form>
                <div class="wallet-history-dropdown">
                  <button class="wallet-history-button" onclick="toggleHistory()">Transaction History</button>
                  <div class="wallet-history-content" id="wallet-history-content">
                    <ul id="transaction-history">
                      <% if (walletData && walletData.transaction && walletData.transaction.length > 0) { %>
                        <% walletData.transaction.forEach(transaction => { %>
                          <li>
                            ₹<%= transaction.amount %> on <%= new Date(transaction.time).toLocaleString() %>
                          </li>
                        <% }) %>
                      <% } else { %>
                        <li>No transactions available</li>
                      <% } %>
                    </ul>
                  </div>
                </div>
                
                
              </div>
            </div>
          
          
            
            
            
            
            



              <!-- Single Tab Content End -->
              <!-- Single Tab Content Start -->
              <div class="tab-pane fade" id="account-info" role="tabpanel">
                 <div class="myaccount-content">
                  <div class="account-details-form">
     
                    <form id="updateProfileForm" method="POST">
                      <label for="name">Name:</label>
                      <input type="text" id="name" name="name" value="<%= locals.user.name %>" required><br><br>
                    
                      <label for="email">Email Address:</label>
                      <input type="email" id="email" name="email" value="<%= locals.user.email %>" required><br><br>
                    
                      <label for="mobile">Mobile Number:</label>
                      <input type="text" id="mobile" name="mobile" value="<%= locals.user.mobile %>" required><br><br>
                    
                      <fieldset>
                        <legend>Password Change</legend>
                        <label for="currentPwd">Current Password:</label>
                        <input type="password" id="currentPwd" name="currentPwd"><br><br>
                    
                        <label for="newPwd">New Password:</label>
                        <input type="password" id="newPwd" name="newPwd"><br><br>
                    
                        <label for="confirmPwd">Confirm New Password:</label>
                        <input type="password" id="confirmPwd" name="confirmPwd"><br><br>
                      </fieldset>
                    
                      <button type="submit">Save Changes</button>
                    </form>
                    
                 
                    
                    
                  </div>
                </div>
              </div>
              <!-- Single Tab Content End -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- edituserAddress -->

    <div
            class="modal fade"
            id="edit"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Edit Address
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form method="post" action="/editUser/:id" id="myform" >
                  <div class="modal-body">
                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        name="name"
                        class="form-control"
                        id="name" 
                        placeholder="namegfhkjample.com"
                      />
                      <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        required
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="namegdfd.com"
                        value="nee aaarraaaadaa"  
                      />
                      <label for="Email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        required
                        type="number"
                        name="mobile"
                        class="form-control"
                        id="mobile"
                        placeholder="namegdfd.com"
                        
                      />
                      <label for="Mobile">Mobile</label>
                    </div>
                  </div>
                  <input type="hidden" id="iddd">
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      onclick="editUser()"
                      class="btn btn-primary"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

    <!-- add adress modal -->
    <div class="modal" id="addAddress" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New Address</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                    <form action="/addAddress" method="post" onsubmit="return validateForm()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name :</label>
                            <input type="text" class="form-control" id="nameId"
                                name="name" placeholder="Enter Name">
                                <p id="nameError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="mobile" class="form-label">Mobile :</label>
                            <input type="number" class="form-control" id="mobileId"
                                name="mobile" placeholder="Enter Mobile number">
                                <p id="mobileError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="pincode" class="form-label">Pincode :</label>
                            <input type="number" class="form-control" id="pincodeId"
                                name="pincode" placeholder="Enter Pincode">
                                <p id="pincodeError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State :</label>
                            <input type="text" class="form-control" id="stateId"
                                name="state" placeholder="Enter State">
                                <p id="stateError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="street" class="form-label">Address :</label>
                            <input type="text" class="form-control" id="streetId"
                                name="streetAddress" placeholder="eg. House No, Street, Area">
                                <p id="streetError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="locality" class="form-label">Locality/ Town :</label>
                            <input type="text" class="form-control" id="localityId"
                                name="locality" placeholder="Enter Locality">
                                <p id="localityError" class="text-danger "></p>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City/ District :</label>
                            <input type="text" class="form-control" id="cityId"
                                name="city" placeholder="Enter City">
                                <p id="cityError" class="text-danger "></p>
                        </div>
                        <p id="adEmptyError" class="text-danger"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit"  class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div>
        </div>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    
    <footer class="footer-area section-padding-1 border-top-3">
      <div class="container-fluid">
        <div class="footer-top pt-100 pb-60">
          <div class="row">
            <div class="footer-column footer-width-24">
              <div class="footer-widget footer-about mb-30">
                <a href="index.html">
                  <img src="user/assets/images/logo/logo.png" alt="logo" />
                </a>
                <p>
                  Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum
                  voluptar
                </p>
                <div class="social-icon-style-2 social-icon-hm4">
                  <a class="facebook" href="#"
                    ><i class="fa fa-facebook"></i
                  ></a>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                  <a class="dribbble" href="#"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="footer-column footer-width-12">
              <div class="footer-widget footer-info-list-2 mb-30">
                <h3 class="footer-title">Company Link</h3>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">The Blog</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-column footer-width-14">
              <div class="footer-widget footer-info-list-2 mb-30">
                <h3 class="footer-title">Userful Link</h3>
                <ul>
                  <li><a href="#">Guides & Articles</a></li>
                  <li><a href="#">Customer Reviews</a></li>
                  <li><a href="#">Coupon Codes</a></li>
                  <li><a href="#">Military Discount</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-column footer-width-19">
              <div
                class="footer-widget footer-info-list-2 footer-contect mb-30"
              >
                <h3 class="footer-title">Contact info</h3>
                <ul>
                  <li>
                    <i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00
                    - 19:00
                  </li>
                  <li><i class="dlicon ui-1_email-83"></i> info@example.com</li>
                  <li><i class="dlicon tech-2_rotate"></i> (+612) 2531 5600</li>
                  <li>
                    <i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins
                    Street West Victoria 8077 Australia
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-column footer-width-29 mb-30">
              <div class="contact-page-map">
                <div id="contact-map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus"
                    style="border: 0; width: 100%; height: 100%"
                    allowfullscreen=""
                    loading="lazy"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-botoom">
          <div class="row">
            <div class="col-12">
              <div class="copyright-2 text-center">
                <p>
                  © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights
                  reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
   
  </div>


<!-- All css here -->

<style>
  .order-item {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
  }

  .order-id {
      font-size: 1.25rem;
      color: #333;
      margin-bottom: 5px;
  }

  .order-date {
      color: #777;
      font-size: 0.875rem;
  }

  .order-details {
      margin-top: 15px;
  }

  .order-details p {
      margin-bottom: 5px;
      font-size: 1rem;
      color: #555;
  }

  .order-products {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 15px;
  }

  .product-item {
      width: 150px;
      text-align: center;
  }

  .product-item img {
      border-radius: 8px;
      border: 1px solid #ddd;
      width: 100px;
      height: 100px;
      object-fit: cover;
  }

  .product-name {
      font-size: 0.875rem;
      color: #555;
      margin-top: 5px;
  }

  .order-footer {
      margin-top: 15px;
      text-align: end;
  }

  .no-orders {
      margin-top: 20px;
      text-align: center;
      color: #aaa;
  }
</style>


<style>
  .wallet-container {
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300px;
    
  }
  .wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .wallet-balance {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  .wallet-add-amount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .wallet-add-amount input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  .wallet-add-amount button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0aa326;
    color: #fff;
    cursor: pointer;
  }
  .wallet-add-amount button:hover {
    background-color: #085917;
  }
  .wallet-history-dropdown {
    position: relative;
  }
  .wallet-history-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wallet-history-button:hover {
    background-color: darkblue;
  }
  .wallet-history-button::after {
    content: '▼';
    margin-left: 10px;
    font-size: 0.8em;
  }
  .wallet-history-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
  }
  .wallet-history-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .wallet-history-content ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .wallet-history-content ul li:last-child {
    border-bottom: none;
  }
</style>

  <!-- All JS is here
============================================ -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
<script src="https://checkout.razorpay.com/v1/checkout.js"></script> 1111 
<script>
  function razor(){

    const myyform = document.getElementById('myyform')
    const amount = document.getElementById('amount')
   
console.log(amount.value,'lpppppppppppppppppppp');

    fetch('/razors', {
                          
                            method: 'POST',
                            headers: { 'Content-type': 'application/json' },
                            body: JSON.stringify({ amount:amount.value })
                        }).then(res => res.json()).then(data => {
                            if (data.success) {

                                let options = {
                                    "key": `${data.key_id}`,
                                    "amount": `${data.amount}`,
                                    "currency": "INR",
                                    "name": "TORO",
                                    "order_id": `${data.order_id}`,
                                    "handler": function (response) {
                                      myyform.submit();
                                        
                                    },
                                    "profile": {
                                        "name": `${data.name}`,
                                        "email": `${data.email}`
                                    }
                                }
                                
                                let razorpayObject = new Razorpay(options);
                                razorpayObject.on('payment.failed', (response) => {
                                    alert('payment failed');
                                });
                                razorpayObject.open();
                            }
                        })


     
  }
</script>


  <script>
    function toggleHistory() {
      var historyContent = document.getElementById('wallet-history-content');
      if (historyContent.style.display === 'block') {
        historyContent.style.display = 'none';
      } else {
        historyContent.style.display = 'block';
      }
    }

    function addAmount() {
  

    }
  </script>


  <script>
    document.getElementById('updateProfileForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      
      const formData = new FormData(this);
      const data = Object.fromEntries(formData.entries());
    
      try {
        const response = await fetch('/updateprofile', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });
        
        const result = await response.json();
        
        if (response.ok) {
          window.location.href='/myaccount'
          alert(result.msg);

        } else {
          alert(result.msg || 'An error occurred');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while updating the profile');
      }
    });
    </script>

  <script>
   function editUser(){
    const id=document.getElementById('iddd').value

    const name= document.getElementById('name')
    const email= document.getElementById('email')
    const mobile= document.getElementById('mobile')
    console.log(name,'fddf',email,'fdfdfdf',mobile,'fdfdfkdjfkdk');

    fetch(`/editUser/${id}`, {
        method: "Post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id,
          name: name.value,
          email: email.value,
          mobile:mobile.value
        }),
      })

      .then((data) => {
          console.log("Success:", data);
          // Handle successful response here
          if(success){
            window.location.href='/category'
          }
            
        })
        .catch((error) => {
          console.error("Error:", error);
          // Handle errors here
        });
   }
   

   const name1 = document.getElementById("name");
    const email = document.getElementById("email");
    const mobile = document.getElementById("mobile");
    const idddd=document.getElementById('iddd')
    const form=document.getElementById('myform')

   console.log(email.value, ' email.value');
    function edit(id, name, e,g) {
     console.log(e,'eeeeee');
  
     console.log('hhhhhhhhhhhhhhhhhhhhhhhhhh'); 
       idddd.value=id
      name1.value = name;
      console.log(name,e,g,'name, e, g');
      console.log(email.value,'email.value');
      email.value = e
      mobile.value = g
     
      form.action = `/editUser/${id}`;
   
    
    }
  

  </script>
  
  
  <script>
    async function logout() {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, log out!",
      }).then(async (result) => {
        if (result.isConfirmed) {
          try {
            await axios.post("/logout");
            Swal.fire({
              title: "Signed Out!",
              text: "You have been logged out.",
              icon: "success",
            });
            setTimeout(() => {
              window.location.href = "/login";
            }, 2000);
          } catch (error) {
            Swal.fire({
              title: "Error",
              text: "An error occurred while logging out.",
              icon: "error",
            });
          }
        }
      });
    }
  </script>


<script>
  function select(s){
     
  }
</script>

    <!-- Modernizer JS -->
    <script src="user/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="user/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="user/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="user/assets/js/vendor/bootstrap.min.js"></script>
    <script src="user/assets/js/plugins/owl-carousel.js"></script>
    <script src="user/assets/js/plugins/slick.js"></script>
    <script src="user/assets/js/plugins/jarallax.min.js"></script>
    <script src="user/assets/js/plugins/countdown.js"></script>
    <script src="user/assets/js/plugins/magnific-popup.js"></script>
    <script src="user/assets/js/plugins/instafeed.js"></script>
    <script src="user/assets/js/plugins/tilt.js"></script>
    <script src="user/assets/js/plugins/images-loaded.js"></script>
    <script src="user/assets/js/plugins/isotope.js"></script>
    <script src="user/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="user/assets/js/plugins/fullpage.js"></script>
    <script src="user/assets/js/plugins/jquery-ui.js"></script>
    <script src="user/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="user/assets/js/plugins/easyzoom.js"></script>
    <script src="user/assets/js/plugins/resizesensor.js"></script>
    <script src="user/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="user/assets/js/plugins/scrollup.js"></script>
    <script src="user/assets/js/plugins/select2.min.js"></script>
    <script src="user/assets/js/plugins/cookie.js"></script>
    <script src="user/assets/js/plugins/bpopup.js"></script>
    <script src="user/assets/js/plugins/wow.js"></script>
    <script src="user/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="user/assets/js/main.js"></script>

</body>

<!-- Mirrored from htmldemo.net/toro/toro/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 11:04:56 GMT -->
</html>